body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.containers {
  max-width: 900px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 20px;
}

.bookInfo {
  margin-bottom: 20px;
}

.bookInfo p {
  font-size: 18px;
  margin: 5px 0;
}

.bookInfo p span {
  font-weight: bold;
  color: #4caf50;
}

.content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 20px;
}

.hadith {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #555;
}

.buttons {
  text-align: center;
}

.feature ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin-right: 20px;
}

.feature ul li {
  font-size: 24px;
  cursor: pointer;
  color: #4caf50;
}

.newButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.newButton:hover {
  background-color: #45a049;
}

.sound:hover {
  color: #45a049;
}

/* Responsive design for smaller screens */
@media (max-width: 576px) {
  .containers {
    padding: 15px;
    margin: 20px;
  }

  header {
    font-size: 24px;
  }

  .hadith {
    font-size: 18px;
  }

  .newButton {
    width: 100%;
  }
}
